# Ignore everything
**

# Allow files and directories
!README.md
!setup.py
!fix.py
!/src/**
!requirements.txt

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db